{
  "swagger": "2.0",
  "info": {
    "title": "API Manager",
    "version": "v1"
  },
  "host": "anypoint.mulesoft.com",
  "basePath": "/apimanager/api/{version}",
  "schemes": [
    "https"
  ],
  "paths": {
    "/organizations/{organizationId}": {
      "x-amf-description": "Organizations are the container entity for all API Manager-related resources.",
      "parameters": [
        {
          "name": "organizationId",
          "required": true,
          "in": "path",
          "type": "string",
          "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
        }
      ]
    },
    "/organizations/{organizationId}/environments/{environmentId}": {
      "x-amf-description": "An environment.",
      "parameters": [
        {
          "name": "organizationId",
          "required": true,
          "in": "path",
          "type": "string",
          "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
        },
        {
          "name": "environmentId",
          "required": true,
          "in": "path",
          "type": "string"
        }
      ]
    },
    "/organizations/{organizationId}/environments/{environmentId}/apis": {
      "x-amf-description": "A collection of APIs.",
      "get": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "autodiscoveryInstanceName",
            "description": "A string that will be checked for an exact match of the autodiscoveryInstanceName",
            "in": "query",
            "type": "string"
          },
          {
            "name": "assetId",
            "description": "A string that will be checked for an exact match of the assetId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "query",
            "description": "A string that will be checked for a partial or similar matches of the name, description, label and tags",
            "in": "query",
            "type": "string"
          },
          {
            "name": "productVersion",
            "description": "A string that will be checked for an exact match of the productVersion",
            "in": "query",
            "type": "string"
          },
          {
            "name": "groupId",
            "description": "A string that will be checked for an exact match of the groupId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "assetVersion",
            "description": "A string that will be checked for an exact match of the assetVersion",
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Offset on the amount of assets (each of which has all its apis)",
            "in": "query",
            "default": 0,
            "type": "integer"
          },
          {
            "name": "instanceLabel",
            "description": "A string that will be checked for an exact match of the instanceLabel",
            "in": "query",
            "type": "string"
          },
          {
            "name": "filters",
            "description": "Comma-separated list of filters, which can be \"active\" and/or \"pinned\"",
            "in": "query",
            "type": "string"
          },
          {
            "name": "ascending",
            "in": "query",
            "default": true,
            "type": "boolean"
          },
          {
            "name": "sort",
            "in": "query",
            "default": "name",
            "enum": [
              "id",
              "name",
              "createdDate",
              "updatedDate"
            ],
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit on the amount of assets (each of which has all its apis)",
            "in": "query",
            "default": 100,
            "type": "integer"
          },
          {
            "name": "autodiscoveryApiName",
            "description": "A string that will be checked for an exact match of the autodiscoveryApiName",
            "in": "query",
            "type": "string"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "total": 3,
                "assets": [
                  {
                    "audit": {
                      "created": {
                        "date": "2017-11-16T15:57:47.710Z"
                      },
                      "updated": {}
                    },
                    "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "id": 71485,
                    "name": "groupId:791be26c-6882-46f0-8c1d-5dc8d39a04be:assetId:football-api",
                    "exchangeAssetName": "Football API",
                    "groupId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "assetId": "football-api",
                    "apis": [
                      {
                        "audit": {
                          "created": {
                            "date": "2017-11-16T15:57:47.710Z"
                          },
                          "updated": {}
                        },
                        "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "id": 62883,
                        "instanceLabel": null,
                        "groupId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "assetId": "football-api",
                        "assetVersion": "1.0.0",
                        "productVersion": "v1",
                        "description": null,
                        "tags": [],
                        "order": 1,
                        "deprecated": false,
                        "lastActiveDate": null,
                        "endpointUri": null,
                        "environmentId": "337ab6ba-f32a-4ec0-8c99-047c04560f39",
                        "isPublic": false,
                        "pinned": false,
                        "activeContractsCount": 0,
                        "autodiscoveryInstanceName": "v1:62883"
                      },
                      {
                        "audit": {
                          "created": {
                            "date": "2017-11-16T16:07:28.024Z"
                          },
                          "updated": {}
                        },
                        "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "id": 62888,
                        "instanceLabel": null,
                        "groupId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "assetId": "football-api",
                        "assetVersion": "1.0.1",
                        "productVersion": "v1",
                        "description": null,
                        "tags": [],
                        "order": 1,
                        "deprecated": false,
                        "lastActiveDate": null,
                        "endpointUri": null,
                        "environmentId": "337ab6ba-f32a-4ec0-8c99-047c04560f39",
                        "isPublic": false,
                        "pinned": false,
                        "activeContractsCount": 0,
                        "autodiscoveryInstanceName": "v1:62888"
                      },
                      {
                        "audit": {
                          "created": {
                            "date": "2017-11-16T16:09:04.884Z"
                          },
                          "updated": {}
                        },
                        "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "id": 62889,
                        "instanceLabel": "Best Football Api",
                        "groupId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "assetId": "football-api",
                        "assetVersion": "1.0.1",
                        "productVersion": "v1",
                        "description": null,
                        "tags": [],
                        "order": 1,
                        "deprecated": false,
                        "lastActiveDate": null,
                        "endpointUri": null,
                        "environmentId": "337ab6ba-f32a-4ec0-8c99-047c04560f39",
                        "isPublic": false,
                        "pinned": false,
                        "activeContractsCount": 0,
                        "autodiscoveryInstanceName": "v1:62889"
                      }
                    ],
                    "totalApis": 3
                  },
                  {
                    "audit": {
                      "created": {
                        "date": "2017-11-16T16:53:37.739Z"
                      },
                      "updated": {}
                    },
                    "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "id": 71506,
                    "name": "groupId:791be26c-6882-46f0-8c1d-5dc8d39a04be:assetId:star-wars-api",
                    "exchangeAssetName": "Star Wars API",
                    "groupId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "assetId": "star-wars-api",
                    "apis": [
                      {
                        "audit": {
                          "created": {
                            "date": "2017-11-16T16:53:37.739Z"
                          },
                          "updated": {}
                        },
                        "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "id": 62940,
                        "instanceLabel": null,
                        "groupId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "assetId": "star-wars-api",
                        "assetVersion": "1.0.0",
                        "productVersion": "v1",
                        "description": null,
                        "tags": [],
                        "order": 1,
                        "deprecated": false,
                        "lastActiveDate": null,
                        "endpointUri": null,
                        "environmentId": "337ab6ba-f32a-4ec0-8c99-047c04560f39",
                        "isPublic": false,
                        "pinned": false,
                        "activeContractsCount": 0,
                        "autodiscoveryInstanceName": "v1:62940"
                      }
                    ],
                    "totalApis": 1
                  },
                  {
                    "audit": {
                      "created": {
                        "date": "2017-11-16T16:54:26.437Z"
                      },
                      "updated": {}
                    },
                    "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "id": 71508,
                    "name": "groupId:791be26c-6882-46f0-8c1d-5dc8d39a04be:assetId:tickets-api",
                    "exchangeAssetName": "Tickets API",
                    "groupId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "assetId": "tickets-api",
                    "apis": [
                      {
                        "audit": {
                          "created": {
                            "date": "2017-11-16T16:54:26.437Z"
                          },
                          "updated": {}
                        },
                        "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "id": 62943,
                        "instanceLabel": null,
                        "groupId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "assetId": "tickets-api",
                        "assetVersion": "1.0.0",
                        "productVersion": "v1",
                        "description": null,
                        "tags": [],
                        "order": 1,
                        "deprecated": false,
                        "lastActiveDate": null,
                        "endpointUri": null,
                        "environmentId": "337ab6ba-f32a-4ec0-8c99-047c04560f39",
                        "isPublic": false,
                        "pinned": false,
                        "activeContractsCount": 0,
                        "autodiscoveryInstanceName": "v1:62943"
                      }
                    ],
                    "totalApis": 1
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "$ref": "#/definitions/default"
            }
          }
        ],
        "x-amf-requestPayloads": [
          {
            "mediaType": "multipart/form-data",
            "schema": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "file"
              ],
              "properties": {
                "instanceLabel": {
                  "type": "string",
                  "minLength": 1
                },
                "endpoint": {
                  "description": "JSON of endpoint, which will override any enpoint passed in the file and the policies (if any)",
                  "type": "string",
                  "minLength": 1
                },
                "file": {
                  "description": "Zip or Bundle with an exported api. May also contain exported tiers, endpoint and policy configurations.",
                  "type": "file"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "environmentId": "218e04a0-d99f-48ba-bf63-4ac93e3e49f1",
                "instanceLabel": "Production Football Api",
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "groupId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "assetId": "football-api",
                "assetVersion": "1.0.1",
                "productVersion": "v1",
                "description": null,
                "tags": [],
                "order": 1,
                "endpointUri": null,
                "isPublic": false,
                "audit": {
                  "created": {
                    "date": "2017-11-16T16:17:30.678Z"
                  },
                  "updated": {}
                },
                "id": 62921,
                "autodiscoveryInstanceName": "v1:62921"
              }
            }
          },
          "409": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}": {
      "x-amf-description": "An API on an environment.",
      "get": {
        "description": "Returns an API.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "includeTlsContexts",
            "description": "Include TLS contexts in environment API",
            "required": false,
            "in": "query",
            "default": false,
            "type": "boolean"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "audit": {
                  "created": {
                    "date": "2017-11-16T16:54:26.437Z"
                  },
                  "updated": {
                    "date": "2017-11-16T17:03:14.205Z"
                  }
                },
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "id": 62943,
                "instanceLabel": null,
                "groupId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "assetId": "tickets-api",
                "assetVersion": "1.0.0",
                "productVersion": "v1",
                "description": null,
                "tags": [
                  "tag 1",
                  "tag 78"
                ],
                "order": 1,
                "deprecated": false,
                "lastActiveDate": "2017-11-16T17:03:13.632Z",
                "endpointUri": null,
                "environmentId": "337ab6ba-f32a-4ec0-8c99-047c04560f39",
                "isPublic": false,
                "endpoint": {
                  "audit": {
                    "created": {},
                    "updated": {}
                  },
                  "id": 44974,
                  "type": "http",
                  "uri": "http://google.com",
                  "proxyUri": "http://0.0.0.0:8081/",
                  "proxyRegistrationUri": null,
                  "lastActiveDate": null,
                  "isCloudHub": true,
                  "policiesVersion": "v10",
                  "referencesUserDomain": false,
                  "muleVersion4OrAbove": null,
                  "responseTimeout": null,
                  "tlsContexts": {
                    "inbound": {
                      "secretGroupId": "uuidSecretGroupId",
                      "tlsContextId": "uuidTlsContextId"
                    },
                    "outbound": {
                      "secretGroupId": "uuidSecretGroupId",
                      "tlsContextId": "uuidTlsContextId"
                    }
                  }
                },
                "deployment": {
                  "audit": {
                    "created": {},
                    "updated": {}
                  },
                  "id": 11334,
                  "applicationId": null,
                  "applicationName": "Tickets-app",
                  "gatewayVersion": "3.8.0",
                  "environmentName": "Sandbox",
                  "environmentId": "337ab6ba-f32a-4ec0-8c99-047c04560f39",
                  "targetId": null,
                  "targetName": null,
                  "deploymentId": null,
                  "updatedDate": null,
                  "type": "CH",
                  "apiId": 62943
                },
                "gateway": {
                  "policiesVersion": "v10",
                  "supportsOrdering": true
                },
                "lastActiveDelta": 3,
                "autodiscoveryInstanceName": "v1:62943"
              }
            }
          }
        }
      },
      "put": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {}
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "instanceLabel": "tickets-lbl",
                "id": 62943,
                "environmentId": "337ab6ba-f32a-4ec0-8c99-047c04560f39",
                "audit": {
                  "created": {},
                  "updated": {
                    "date": "2017-11-16T17:07:43.642Z"
                  }
                },
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "endpoint": {
                  "audit": {
                    "created": {
                      "date": "2017-11-16T16:54:26.437Z"
                    },
                    "updated": {
                      "date": "2017-11-16T16:59:41.089Z"
                    }
                  },
                  "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                  "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                  "id": 44974,
                  "type": "http",
                  "uri": "http://google.com",
                  "proxyUri": "http://0.0.0.0:8081/",
                  "proxyRegistrationUri": null,
                  "lastActiveDate": null,
                  "isCloudHub": true,
                  "policiesVersion": "v10",
                  "referencesUserDomain": false,
                  "muleVersion4OrAbove": null,
                  "responseTimeout": null,
                  "apiId": 62943
                }
              }
            }
          }
        }
      },
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "endpoint": {
                  "uri": "http://google.com",
                  "proxyUri": "http://0.0.0.0:8081/",
                  "isCloudHub": true,
                  "referencesUserDomain": false,
                  "responseTimeout": null,
                  "muleVersion4OrAbove": null,
                  "tlsContexts": {
                    "inbound": {
                      "secretGroupId": "uuidSecretGroupId",
                      "tlsContextId": "uuidTlsContextId"
                    },
                    "outbound": {
                      "secretGroupId": "uuidSecretGroupId",
                      "tlsContextId": "uuidTlsContextId"
                    }
                  }
                },
                "instanceLabel": "Instance label"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "instanceLabel": "tickets-lbl",
                "id": 62943,
                "environmentId": "337ab6ba-f32a-4ec0-8c99-047c04560f39",
                "audit": {
                  "created": {},
                  "updated": {
                    "date": "2017-11-16T17:07:43.642Z"
                  }
                },
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "endpoint": {
                  "audit": {
                    "created": {
                      "date": "2017-11-16T16:54:26.437Z"
                    },
                    "updated": {
                      "date": "2017-11-16T16:59:41.089Z"
                    }
                  },
                  "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                  "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                  "id": 44974,
                  "type": "http",
                  "uri": "http://google.com",
                  "proxyUri": "http://0.0.0.0:8081/",
                  "proxyRegistrationUri": null,
                  "lastActiveDate": null,
                  "isCloudHub": true,
                  "policiesVersion": "v10",
                  "referencesUserDomain": false,
                  "muleVersion4OrAbove": null,
                  "responseTimeout": null,
                  "apiId": 62943
                }
              }
            }
          }
        }
      },
      "delete": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/policies": {
      "x-amf-description": "A collection of API policies.",
      "get": {
        "description": "Returns a list of elements.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "standalone",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "version",
            "in": "query",
            "default": "v1",
            "type": "string",
            "pattern": "^v\\d+(.\\d+)?(.\\d+)?$"
          },
          {
            "name": "fullInfo",
            "description": "If true, it completes each policy with its template and the configuration data.",
            "in": "query",
            "default": true,
            "type": "boolean"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "if-modified-since",
            "description": "Last modification date (EPOC)",
            "required": false,
            "in": "header",
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "description": "### For Mule 4: \n```json\n{\n  \"policies\": [\n    {\n      \"policyTemplateId\": \"189\",\n      \"order\": 1,\n      \"pointcutData\": null,\n      \"policyId\": 178247,\n      \"configuration\": {\n        \"delayTimeInMillis\": 10000,\n        \"delayAttempts\": 5,\n        \"rateLimits\": [\n          {\n            \"timePeriodInMilliseconds\": 100000,\n            \"maximumRequests\": 1\n          }\n        ],\n        \"clusterizable\": true,\n        \"exposeHeaders\": true\n      },\n      \"template\": {\n        \"groupId\": \"68ef9520-24e9-4cf2-b2f5-620025690314\",\n        \"assetId\": \"throttling\",\n        \"assetVersion\": \"1.0.0\"\n      },\n      \"version\": 1559327629174\n    },\n    {\n      \"policyTemplateId\": \"202\",\n      \"order\": 2,\n      \"pointcutData\": null,\n      \"policyId\": 178248,\n      \"configuration\": {\n        \"ipExpression\": null,\n        \"ips\": [\n          \"7.7.7.7\"\n        ]\n      },\n      \"template\": {\n        \"groupId\": \"68ef9520-24e9-4cf2-b2f5-620025690314\",\n        \"assetId\": \"ip-blacklist\",\n        \"assetVersion\": \"1.0.0\"\n      },\n      \"version\": 1559327940731\n    }\n  ]\n}\n```\n\n### For Mule 3: ",
              "example": {
                "value": [
                  {
                    "audit": {
                      "created": {
                        "date": "2017-11-16T17:11:41.083Z"
                      },
                      "updated": {
                        "date": "2017-11-16T17:20:17.595Z"
                      }
                    },
                    "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "id": 102477,
                    "policyTemplateId": "throttling",
                    "configurationData": {
                      "rateLimits": [
                        {
                          "maximumRequests": 1,
                          "timePeriodInMilliseconds": 1000
                        }
                      ],
                      "policyId": 102477,
                      "endpointUri": "",
                      "isRamlEndpoint": false,
                      "isWsdlEndpoint": true,
                      "isHttpEndpoint": false,
                      "apiId": 62940,
                      "order": null,
                      "autodiscoveryApiName": "groupId:791be26c-6882-46f0-8c1d-5dc8d39a04be:assetId:star-wars-api",
                      "autodiscoveryInstanceName": "v1:62940"
                    },
                    "order": null,
                    "disabled": false,
                    "pointcutData": null,
                    "groupId": null,
                    "assetId": null,
                    "assetVersion": null,
                    "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<policy xmlns=\"http://www.mulesoft.org/schema/mule/policy\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:spring=\"http://www.springframework.org/schema/beans\" xmlns:throttling-gw=\"http://www.mulesoft.org/schema/mule/throttling-gw\" xsi:schemaLocation=\"http://www.mulesoft.org/schema/mule/policy http://www.mulesoft.org/schema/mule/policy/current/mule-policy.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.mulesoft.org/schema/mule/throttling-gw http://www.mulesoft.org/schema/mule/throttling-gw/current/mule-throttling-gw.xsd\" online=\"true\">\n  <throttling-gw:policy xmlns:throttling-gw=\"http://www.mulesoft.org/schema/mule/throttling-gw\" enableStatistics=\"true\" notifyEveryExceededRequest=\"true\" id=\"102477\">\n    <throttling-gw:delay-response delayTimeInMillis=\"\" delayAttempts=\"\"/>\n    <throttling-gw:rolling-time-frame-algorithm maximumRequestsPerPeriod=\"1\" timePeriodMillis=\"1000\"/>\n  </throttling-gw:policy>\n  <before>\n    <throttling-gw:throttle xmlns:throttling-gw=\"http://www.mulesoft.org/schema/mule/throttling-gw\" throttling-policy-ref=\"102477\"/>\n  </before>\n  <pointcut>\n    <endpoint xmlns=\"http://www.mulesoft.org/schema/mule/policy\" regex=\"\"/>\n  </pointcut>\n</policy>\n",
                    "standalone": true,
                    "apiId": 62940
                  },
                  {
                    "audit": {
                      "created": {
                        "date": "2017-11-16T17:20:17.595Z"
                      },
                      "updated": {}
                    },
                    "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "id": 102478,
                    "policyTemplateId": "ip-blacklist",
                    "configurationData": {
                      "ipExpression": null,
                      "ips": [
                        "7.7.7.7"
                      ],
                      "policyId": 102478,
                      "endpointUri": "",
                      "isRamlEndpoint": false,
                      "isWsdlEndpoint": true,
                      "isHttpEndpoint": false,
                      "apiId": 62940,
                      "order": 1,
                      "autodiscoveryApiName": "groupId:791be26c-6882-46f0-8c1d-5dc8d39a04be:assetId:star-wars-api",
                      "autodiscoveryInstanceName": "v1:62940"
                    },
                    "order": 1,
                    "disabled": false,
                    "pointcutData": null,
                    "groupId": null,
                    "assetId": null,
                    "assetVersion": null,
                    "template": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<policy xmlns=\"http://www.mulesoft.org/schema/mule/policy\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:spring=\"http://www.springframework.org/schema/beans\" xmlns:mule=\"http://www.mulesoft.org/schema/mule/core\" xmlns:ip-filter-gw=\"http://www.mulesoft.org/schema/mule/ip-filter-gw\" xsi:schemaLocation=\"http://www.mulesoft.org/schema/mule/policy http://www.mulesoft.org/schema/mule/policy/current/mule-policy.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ip-filter-gw http://www.mulesoft.org/schema/mule/ip-filter-gw/current/mule-ip-filter-gw.xsd\" online=\"true\">\n  <mule:processor-chain xmlns:mule=\"http://www.mulesoft.org/schema/mule/core\" name=\"102478-build-response\">\n    <mule:set-property propertyName=\"http.status\" value=\"403\"/>\n    <mule:set-property propertyName=\"Content-Type\" value=\"text/xml\"/>\n    <mule:set-payload value=\"#[soapFault('client', _ipViolationMessage)]\"/>\n  </mule:processor-chain>\n  <before>\n    <ip-filter-gw:filter xmlns:ip-filter-gw=\"http://www.mulesoft.org/schema/mule/ip-filter-gw\" ipAddress=\"\" onUnaccepted=\"102478-build-response\">\n      <ip-filter-gw:blacklist>\n        <ip-filter-gw:ip>7.7.7.7</ip-filter-gw:ip>\n      </ip-filter-gw:blacklist>\n    </ip-filter-gw:filter>\n  </before>\n  <pointcut>\n    <endpoint xmlns=\"http://www.mulesoft.org/schema/mule/policy\" regex=\"\"/>\n  </pointcut>\n</policy>\n",
                    "standalone": true,
                    "apiId": 62940
                  }
                ]
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json + mule4Policies",
                "schema": {
                  "example": {
                    "policies": [
                      {
                        "policyTemplateId": "189",
                        "order": 1,
                        "pointcutData": null,
                        "policyId": 178247,
                        "configuration": {
                          "delayTimeInMillis": 10000,
                          "delayAttempts": 5,
                          "rateLimits": [
                            {
                              "timePeriodInMilliseconds": 100000,
                              "maximumRequests": 1
                            }
                          ],
                          "clusterizable": true,
                          "exposeHeaders": true
                        },
                        "template": {
                          "groupId": "68ef9520-24e9-4cf2-b2f5-620025690314",
                          "assetId": "throttling",
                          "assetVersion": "1.0.0"
                        },
                        "version": 1559327629174
                      },
                      {
                        "policyTemplateId": "202",
                        "order": 2,
                        "pointcutData": null,
                        "policyId": 178248,
                        "configuration": {
                          "ipExpression": null,
                          "ips": [
                            "7.7.7.7"
                          ]
                        },
                        "template": {
                          "groupId": "68ef9520-24e9-4cf2-b2f5-620025690314",
                          "assetId": "ip-blacklist",
                          "assetVersion": "1.0.0"
                        },
                        "version": 1559327940731
                      }
                    ]
                  }
                }
              }
            ]
          },
          "304": {
            "description": ""
          }
        }
      },
      "post": {
        "description": "Creates a new element.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "description": "### For Mule 4:\n```json\n{\n  \"configurationData\": {\n      \"rateLimits\": [\n          {\n              \"timePeriodInMilliseconds\": 10000,\n              \"maximumRequests\": 1\n          }\n      ],\n      \"clusterizable\": true,\n      \"exposeHeaders\": true\n  },\n  \"id\": null,\n  \"pointcutData\": null,\n  \"apiVersionId\": 15638473,\n  \"groupId\": \"68ef9520-24e9-4cf2-b2f5-620025690913\",\n  \"assetId\": \"rate-limiting\",\n  \"assetVersion\": \"1.0.0\"\n}\n```\n\n### For Mule 3: ",
              "example": {
                "policyTemplateId": "throttling",
                "configurationData": {
                  "rateLimits": [
                    {
                      "maximumRequests": 1,
                      "timePeriodInMilliseconds": 1000
                    }
                  ]
                }
              }
            }
          }
        ],
        "x-amf-requestPayloads": [
          {
            "mediaType": "application/json + mule4Policies",
            "schema": {
              "example": {
                "configurationData": {
                  "rateLimits": [
                    {
                      "timePeriodInMilliseconds": 10000,
                      "maximumRequests": 1
                    }
                  ],
                  "clusterizable": true,
                  "exposeHeaders": true
                },
                "id": null,
                "pointcutData": null,
                "apiVersionId": 15638473,
                "groupId": "68ef9520-24e9-4cf2-b2f5-620025690913",
                "assetId": "rate-limiting",
                "assetVersion": "1.0.0"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The new element has been successfully created.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "description": "### For Mule 4:\n```json\n{\n  \"configurationData\": {\n      \"rateLimits\": [\n          {\n              \"timePeriodInMilliseconds\": 10000,\n              \"maximumRequests\": 1\n          }\n      ],\n      \"clusterizable\": true,\n      \"exposeHeaders\": true\n  },\n  \"pointcutData\": null,\n  \"policyTemplateId\": \"2\",\n  \"groupId\": \"68ef9520-24e9-4cf2-b2f5-620025690913\",\n  \"assetId\": \"rate-limiting\",\n  \"assetVersion\": \"1.0.0\",\n  \"disabled\": false,\n  \"order\": 1,\n  \"audit\": {\n      \"created\": {\n          \"date\": \"2019-06-04T19:25:12.688Z\"\n      },\n      \"updated\": {}\n  },\n  \"masterOrganizationId\": \"dff47746-9048-454c-8919-4a9d66018c0d\",\n  \"organizationId\": \"dff47746-9048-454c-8919-4a9d66018c0d\",\n  \"id\": 576416,\n  \"apiId\": 15638473\n}\n```\n\n### For Mule 3: ",
              "example": {
                "policyTemplateId": "throttling",
                "configurationData": {
                  "rateLimits": [
                    {
                      "maximumRequests": 1,
                      "timePeriodInMilliseconds": 1000
                    }
                  ]
                },
                "audit": {
                  "created": {
                    "date": "2017-11-16T17:11:41.083Z"
                  },
                  "updated": {}
                },
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "id": 102477,
                "apiId": 62940
              }
            },
            "x-amf-responsePayloads": [
              {
                "mediaType": "application/json + mule4Policies",
                "schema": {
                  "example": {
                    "configurationData": {
                      "rateLimits": [
                        {
                          "timePeriodInMilliseconds": 10000,
                          "maximumRequests": 1
                        }
                      ],
                      "clusterizable": true,
                      "exposeHeaders": true
                    },
                    "pointcutData": null,
                    "policyTemplateId": "2",
                    "groupId": "68ef9520-24e9-4cf2-b2f5-620025690913",
                    "assetId": "rate-limiting",
                    "assetVersion": "1.0.0",
                    "disabled": false,
                    "order": 1,
                    "audit": {
                      "created": {
                        "date": "2019-06-04T19:25:12.688Z"
                      },
                      "updated": {}
                    },
                    "masterOrganizationId": "dff47746-9048-454c-8919-4a9d66018c0d",
                    "organizationId": "dff47746-9048-454c-8919-4a9d66018c0d",
                    "id": 576416,
                    "apiId": 15638473
                  }
                }
              }
            ]
          }
        }
      },
      "patch": {
        "description": "Updates multiple policies. Currently, only updates in order field are supported.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": [
                {
                  "id": 51,
                  "order": 1
                },
                {
                  "id": 63,
                  "order": 2
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "400": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/policies/{policyId}": {
      "x-amf-description": "An API policy.",
      "patch": {
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "policyId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "configurationData": {
                  "rateLimits": [
                    {
                      "maximumRequests": 20,
                      "timePeriodInMilliseconds": 1000
                    }
                  ]
                },
                "id": 102477,
                "policyTemplateId": "throttling"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "configurationData": {
                  "rateLimits": [
                    {
                      "maximumRequests": 20,
                      "timePeriodInMilliseconds": 1000
                    }
                  ]
                },
                "id": 102477,
                "policyTemplateId": "throttling",
                "audit": {
                  "created": {},
                  "updated": {
                    "date": "2017-11-16T17:33:31.948Z"
                  }
                },
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "apiId": 62940
              }
            }
          }
        }
      },
      "delete": {
        "description": "Unapplies a policy.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "policyId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/tiers": {
      "x-amf-description": "Manages API tiers.",
      "get": {
        "description": "Retrieves a list of tiers for the supplied API.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "description": "Search criteria.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Skip over a number of elements by specifying an offset value for the query.",
            "required": true,
            "in": "query",
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 2147483647
          },
          {
            "name": "ascending",
            "description": "Order for sorting.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "sort",
            "description": "Property to sort by.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit the number of elements on the response.",
            "required": true,
            "in": "query",
            "default": 100,
            "type": "integer",
            "minimum": 1,
            "maximum": 250
          },
          {
            "name": "active",
            "description": "Retrieve only active tiers if set to true.",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "total": 1,
                "tiers": [
                  {
                    "audit": {
                      "created": {
                        "date": "2017-11-16T17:48:38.460Z"
                      },
                      "updated": {}
                    },
                    "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "id": 18408,
                    "name": "premium",
                    "description": "premium description",
                    "limits": [
                      {
                        "visible": true,
                        "maximumRequests": 5,
                        "timePeriodInMilliseconds": 1
                      }
                    ],
                    "status": "ACTIVE",
                    "autoApprove": true,
                    "applicationCount": 0,
                    "apiId": 62943
                  }
                ]
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a sla tier for the API.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "status": "ACTIVE",
                "autoApprove": true,
                "limits": [
                  {
                    "visible": true,
                    "maximumRequests": 5,
                    "timePeriodInMilliseconds": 1
                  }
                ],
                "name": "premium",
                "description": "premium description"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The new element has been successfully created.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "ACTIVE",
                "autoApprove": true,
                "limits": [
                  {
                    "visible": true,
                    "maximumRequests": 5,
                    "timePeriodInMilliseconds": 1
                  }
                ],
                "name": "premium",
                "description": "premium description",
                "audit": {
                  "created": {
                    "date": "2017-11-16T17:48:38.460Z"
                  },
                  "updated": {}
                },
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "id": 18408,
                "apiId": 62943
              }
            }
          },
          "400": {
            "description": ""
          },
          "409": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/tiers/{tierId}": {
      "x-amf-description": "A particular tier associated with the API.",
      "put": {
        "description": "Update a tier associated with an API.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "tierId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "status": "ACTIVE",
                "autoApprove": true,
                "limits": [
                  {
                    "visible": true,
                    "maximumRequests": 5,
                    "timePeriodInMilliseconds": 1
                  }
                ],
                "name": "premium",
                "description": "premium description"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "status": "ACTIVE",
                "autoApprove": true,
                "limits": [
                  {
                    "visible": true,
                    "maximumRequests": 5,
                    "timePeriodInMilliseconds": 1
                  }
                ],
                "name": "premium",
                "description": "premium description",
                "audit": {
                  "created": {
                    "date": "2017-11-16T17:48:38.460Z"
                  },
                  "updated": {}
                },
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "id": 18408,
                "apiId": 62943
              }
            }
          },
          "400": {
            "description": ""
          },
          "409": {
            "description": ""
          }
        }
      },
      "delete": {
        "description": "Delete a tier that has no active applications.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "tierId",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/contracts": {
      "post": {
        "description": "Creates new contract between an API and the application.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "example": {
                "applicationId": 3,
                "partyId": "",
                "partyName": "",
                "acceptedTerms": false,
                "requestedTierId": 48
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "The new element has been successfully created.",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "audit": {
                  "created": {
                    "date": "2017-11-16T22:03:55.587Z"
                  },
                  "updated": {}
                },
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "id": 36197,
                "status": "APPROVED",
                "approvedDate": "2017-11-16T22:03:55.632Z",
                "rejectedDate": null,
                "revokedDate": null,
                "applicationId": 56809,
                "application": {
                  "audit": {
                    "created": {
                      "date": "2017-11-16T21:30:09.492Z"
                    },
                    "updated": {}
                  },
                  "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                  "id": 56809,
                  "name": "Samu app",
                  "description": null,
                  "coreServicesId": "1fd0214cd6e44678b898a9ab65030e4a",
                  "url": null,
                  "grantTypes": [],
                  "redirectUri": [],
                  "clientId": "1fd0214cd6e44678b898a9ab65030e4a",
                  "clientSecret": "87122c9b9Bdd4f659d418BcE8BE6876b",
                  "owner": "Organizacion Nueva",
                  "email": "org@gmail.com",
                  "owners": [
                    {
                      "id": "a62606ab-ad60-444e-a9d4-bea5415d6ff4",
                      "createdAt": "2017-11-16T15:41:14.349Z",
                      "updatedAt": "2017-11-16T21:55:14.076Z",
                      "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                      "firstName": "Organizacion",
                      "lastName": "Nueva",
                      "email": "org@gmail.com",
                      "phoneNumber": "1112345678",
                      "idprovider_id": "mulesoft",
                      "username": "nueva",
                      "enabled": true,
                      "deleted": false,
                      "lastLogin": "2017-11-16T21:55:10.000Z",
                      "type": "host",
                      "organizationPreferences": {},
                      "organization": {
                        "name": "Nueva",
                        "id": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "createdAt": "2017-11-16T15:41:14.372Z",
                        "updatedAt": "2017-11-16T15:46:17.297Z",
                        "ownerId": "a62606ab-ad60-444e-a9d4-bea5415d6ff4",
                        "clientId": "58cd9b34d3bb45919b1176cacd963d35",
                        "domain": "nueva",
                        "idprovider_id": "mulesoft",
                        "isFederated": false,
                        "parentOrganizationIds": [],
                        "subOrganizationIds": [],
                        "tenantOrganizationIds": [],
                        "isMaster": true,
                        "subscription": {
                          "type": "Employee",
                          "expiration": null
                        },
                        "properties": {},
                        "entitlements": {
                          "vCoresSandbox": {
                            "assigned": 4,
                            "reassigned": 0
                          },
                          "objectStoreRequestUnits": {
                            "base": 0,
                            "addOn": 0
                          },
                          "hybridAutoDiscoverProperties": true,
                          "mqRequests": {
                            "base": 0,
                            "addOn": 0
                          },
                          "createSubOrgs": true,
                          "globalDeployment": false,
                          "apis": {
                            "enabled": true
                          },
                          "loadBalancer": {
                            "assigned": 0,
                            "reassigned": 0
                          },
                          "partnersSandbox": {
                            "assigned": 0
                          },
                          "crowd": {
                            "hideApiManagerDesigner": true,
                            "hideFormerApiPlatform": true,
                            "environments": true
                          },
                          "armAlerts": true,
                          "createEnvironments": true,
                          "hybrid": {
                            "enabled": true
                          },
                          "vCoresDesign": {
                            "assigned": 1,
                            "reassigned": 0
                          },
                          "cam": {
                            "enabled": false
                          },
                          "hybridInsight": true,
                          "vCoresProduction": {
                            "assigned": 3,
                            "reassigned": 0
                          },
                          "mqMessages": {
                            "base": 0,
                            "addOn": 0
                          },
                          "exchange2": {
                            "enabled": true
                          },
                          "staticIps": {
                            "assigned": 0,
                            "reassigned": 0
                          },
                          "mqAdvancedFeatures": {
                            "enabled": false
                          },
                          "kpiDashboard": {
                            "enabled": false
                          },
                          "vpcs": {
                            "assigned": 0,
                            "reassigned": 0
                          },
                          "objectStoreKeys": {
                            "base": 0,
                            "addOn": 0
                          },
                          "workerLoggingOverride": {
                            "enabled": false
                          },
                          "designCenter": {
                            "mozart": true,
                            "api": true,
                            "apiVisual": false
                          },
                          "gateways": {
                            "assigned": 1
                          },
                          "partnersProduction": {
                            "assigned": 0
                          },
                          "externalIdentity": true,
                          "pcf": false,
                          "autoscaling": false,
                          "messaging": {
                            "assigned": 0
                          }
                        }
                      },
                      "properties": {}
                    }
                  ]
                },
                "tierId": 18469,
                "tier": {
                  "audit": {
                    "created": {
                      "date": "2017-11-16T21:54:47.028Z"
                    },
                    "updated": {}
                  },
                  "id": 18469,
                  "name": "Posta",
                  "description": null,
                  "limits": [
                    {
                      "visible": true,
                      "timePeriodInMilliseconds": 12000,
                      "maximumRequests": 1
                    }
                  ],
                  "status": "ACTIVE",
                  "autoApprove": true
                },
                "requestedTierId": null,
                "requestedTier": null,
                "terms": null,
                "partyId": "",
                "partyName": "",
                "apiId": 62889,
                "api": {
                  "audit": {
                    "created": {},
                    "updated": {}
                  },
                  "id": 62889
                }
              }
            }
          },
          "409": {
            "description": ""
          }
        }
      },
      "get": {
        "description": "Retrieves a list of applications with contracts with the API.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "includeExtraRedirections",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "query",
            "description": "Search criteria.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "offset",
            "description": "Skip over a number of elements by specifying an offset value for the query.",
            "required": true,
            "in": "query",
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 2147483647
          },
          {
            "name": "coreServicesId",
            "in": "query",
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "type": "string"
          },
          {
            "name": "ascending",
            "description": "Order for sorting.",
            "required": true,
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "sort",
            "description": "Property to sort by.",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "limit",
            "description": "Limit the number of elements on the response.",
            "required": true,
            "in": "query",
            "default": 100,
            "type": "integer",
            "minimum": 1,
            "maximum": 250
          },
          {
            "name": "includeExtraApplicationData",
            "in": "query",
            "type": "boolean"
          },
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "total": 2,
                "contracts": [
                  {
                    "audit": {
                      "created": {
                        "date": "2017-11-16T18:12:48.595Z"
                      },
                      "updated": {
                        "date": "2017-11-16T18:13:03.073Z"
                      }
                    },
                    "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "id": 36155,
                    "status": "REVOKED",
                    "approvedDate": "2017-11-16T18:12:48.630Z",
                    "rejectedDate": null,
                    "revokedDate": "2017-11-16T18:13:03.073Z",
                    "applicationId": 56776,
                    "application": {
                      "audit": {
                        "created": {
                          "date": "2017-11-16T18:12:42.344Z"
                        },
                        "updated": {}
                      },
                      "id": 56776,
                      "name": "Tobi Apps",
                      "description": null,
                      "coreServicesId": "4545a1e48f604e34bf0c433078b20599",
                      "url": null
                    },
                    "tierId": 18408,
                    "tier": {
                      "audit": {
                        "created": {
                          "date": "2017-11-16T17:48:38.460Z"
                        },
                        "updated": {}
                      },
                      "id": 18408,
                      "name": "premium",
                      "description": "premium description",
                      "limits": [
                        {
                          "visible": true,
                          "maximumRequests": 5,
                          "timePeriodInMilliseconds": 1
                        }
                      ],
                      "status": "ACTIVE",
                      "autoApprove": true
                    },
                    "requestedTierId": null,
                    "requestedTier": null,
                    "terms": null,
                    "partyId": null,
                    "partyName": null,
                    "apiId": 62943,
                    "api": {
                      "audit": {
                        "created": {},
                        "updated": {}
                      },
                      "id": 62943
                    }
                  },
                  {
                    "audit": {
                      "created": {
                        "date": "2017-11-16T18:11:35.433Z"
                      },
                      "updated": {}
                    },
                    "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                    "id": 36154,
                    "status": "APPROVED",
                    "approvedDate": "2017-11-16T18:11:35.481Z",
                    "rejectedDate": null,
                    "revokedDate": null,
                    "applicationId": 56775,
                    "application": {
                      "audit": {
                        "created": {
                          "date": "2017-11-16T18:09:07.766Z"
                        },
                        "updated": {}
                      },
                      "id": 56775,
                      "name": "Tickets app",
                      "description": null,
                      "coreServicesId": "6b579eefe5714b39932732a8611ad340",
                      "url": null
                    },
                    "tierId": 18408,
                    "tier": {
                      "audit": {
                        "created": {
                          "date": "2017-11-16T17:48:38.460Z"
                        },
                        "updated": {}
                      },
                      "id": 18408,
                      "name": "premium",
                      "description": "premium description",
                      "limits": [
                        {
                          "visible": true,
                          "maximumRequests": 5,
                          "timePeriodInMilliseconds": 1
                        }
                      ],
                      "status": "ACTIVE",
                      "autoApprove": true
                    },
                    "requestedTierId": null,
                    "requestedTier": null,
                    "terms": null,
                    "partyId": null,
                    "partyName": null,
                    "apiId": 62943,
                    "api": {
                      "audit": {
                        "created": {},
                        "updated": {}
                      },
                      "id": 62943
                    }
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/organizations/{organizationId}/environments/{environmentId}/apis/{environmentApiId}/contracts/{contractId}": {
      "x-amf-description": "A particular contract associated with the API.",
      "get": {
        "description": "Retrieves a specific contract for the API.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "contractId",
            "required": true,
            "in": "path",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "audit": {
                  "created": {
                    "date": "2017-11-16T18:11:35.433Z"
                  },
                  "updated": {}
                },
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "id": 36154,
                "status": "APPROVED",
                "approvedDate": "2017-11-16T18:11:35.481Z",
                "rejectedDate": null,
                "revokedDate": null,
                "applicationId": 56775,
                "application": {
                  "audit": {
                    "created": {
                      "date": "2017-11-16T18:09:07.766Z"
                    },
                    "updated": {}
                  },
                  "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                  "id": 56775,
                  "name": "Tickets app",
                  "description": null,
                  "coreServicesId": "6b579eefe5714b39932732a8611ad340",
                  "url": null,
                  "grantTypes": [],
                  "redirectUri": [],
                  "clientId": "6b579eefe5714b39932732a8611ad340",
                  "clientSecret": "A42ff281ABF64A058dFA9df8B1341840",
                  "owner": "Organizacion Nueva",
                  "email": "org@gmail.com",
                  "owners": [
                    {
                      "id": "a62606ab-ad60-444e-a9d4-bea5415d6ff4",
                      "createdAt": "2017-11-16T15:41:14.349Z",
                      "updatedAt": "2017-11-16T18:02:38.977Z",
                      "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                      "firstName": "Organizacion",
                      "lastName": "Nueva",
                      "email": "org@gmail.com",
                      "phoneNumber": "1112345678",
                      "idprovider_id": "mulesoft",
                      "username": "nueva",
                      "enabled": true,
                      "deleted": false,
                      "lastLogin": "2017-11-16T18:02:30.000Z",
                      "type": "host",
                      "organizationPreferences": {},
                      "organization": {
                        "name": "Nueva",
                        "id": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "createdAt": "2017-11-16T15:41:14.372Z",
                        "updatedAt": "2017-11-16T15:46:17.297Z",
                        "ownerId": "a62606ab-ad60-444e-a9d4-bea5415d6ff4",
                        "clientId": "58cd9b34d3bb45919b1176cacd963d35",
                        "domain": "nueva",
                        "idprovider_id": "mulesoft",
                        "isFederated": false,
                        "parentOrganizationIds": [],
                        "subOrganizationIds": [],
                        "tenantOrganizationIds": [],
                        "isMaster": true,
                        "subscription": {
                          "type": "Employee",
                          "expiration": null
                        },
                        "properties": {},
                        "entitlements": {
                          "vCoresSandbox": {
                            "assigned": 4,
                            "reassigned": 0
                          },
                          "objectStoreRequestUnits": {
                            "base": 0,
                            "addOn": 0
                          },
                          "hybridAutoDiscoverProperties": true,
                          "mqRequests": {
                            "base": 0,
                            "addOn": 0
                          },
                          "createSubOrgs": true,
                          "globalDeployment": false,
                          "apis": {
                            "enabled": true
                          },
                          "loadBalancer": {
                            "assigned": 0,
                            "reassigned": 0
                          },
                          "partnersSandbox": {
                            "assigned": 0
                          },
                          "crowd": {
                            "hideApiManagerDesigner": true,
                            "hideFormerApiPlatform": true,
                            "environments": true
                          },
                          "armAlerts": true,
                          "createEnvironments": true,
                          "hybrid": {
                            "enabled": true
                          },
                          "vCoresDesign": {
                            "assigned": 1,
                            "reassigned": 0
                          },
                          "cam": {
                            "enabled": false
                          },
                          "hybridInsight": true,
                          "vCoresProduction": {
                            "assigned": 3,
                            "reassigned": 0
                          },
                          "mqMessages": {
                            "base": 0,
                            "addOn": 0
                          },
                          "exchange2": {
                            "enabled": true
                          },
                          "staticIps": {
                            "assigned": 0,
                            "reassigned": 0
                          },
                          "mqAdvancedFeatures": {
                            "enabled": false
                          },
                          "kpiDashboard": {
                            "enabled": false
                          },
                          "vpcs": {
                            "assigned": 0,
                            "reassigned": 0
                          },
                          "objectStoreKeys": {
                            "base": 0,
                            "addOn": 0
                          },
                          "workerLoggingOverride": {
                            "enabled": false
                          },
                          "designCenter": {
                            "mozart": true,
                            "api": true,
                            "apiVisual": false
                          },
                          "gateways": {
                            "assigned": 1
                          },
                          "partnersProduction": {
                            "assigned": 0
                          },
                          "externalIdentity": true,
                          "pcf": false,
                          "autoscaling": false,
                          "messaging": {
                            "assigned": 0
                          }
                        }
                      },
                      "properties": {}
                    }
                  ]
                },
                "tierId": 18408,
                "tier": {
                  "audit": {
                    "created": {
                      "date": "2017-11-16T17:48:38.460Z"
                    },
                    "updated": {}
                  },
                  "id": 18408,
                  "name": "premium",
                  "description": "premium description",
                  "limits": [
                    {
                      "visible": true,
                      "maximumRequests": 5,
                      "timePeriodInMilliseconds": 1
                    }
                  ],
                  "status": "ACTIVE",
                  "autoApprove": true
                },
                "requestedTierId": null,
                "requestedTier": null,
                "terms": null,
                "partyId": null,
                "partyName": null,
                "apiId": 62943,
                "api": {
                  "audit": {
                    "created": {},
                    "updated": {}
                  },
                  "id": 62943
                }
              }
            }
          }
        }
      },
      "patch": {
        "description": "Patches contract conditions.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
          {
            "name": "contractId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "x-amf-mediaType": "application/json",
            "in": "body",
            "name": "generated",
            "schema": {
              "type": "object",
              "additionalProperties": true,
              "properties": {
                "tierId": {
                  "type": "integer",
                  "minimum": 1
                },
                "requestedTierId": {
                  "type": "integer",
                  "minimum": 1
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "x-amf-mediaType": "application/json",
            "schema": {
              "example": {
                "audit": {
                  "created": {
                    "date": "2017-11-16T18:20:13.482Z"
                  },
                  "updated": {
                    "date": "2017-11-16T18:21:01.602Z"
                  }
                },
                "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                "id": 36156,
                "status": "PENDING",
                "approvedDate": null,
                "rejectedDate": null,
                "revokedDate": null,
                "applicationId": 56777,
                "application": {
                  "audit": {
                    "created": {
                      "date": "2017-11-16T18:20:06.990Z"
                    },
                    "updated": {}
                  },
                  "masterOrganizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                  "id": 56777,
                  "name": "New app",
                  "description": null,
                  "coreServicesId": "985b472d40754b9db7a380e354264a70",
                  "url": null,
                  "grantTypes": [],
                  "redirectUri": [],
                  "clientId": "985b472d40754b9db7a380e354264a70",
                  "clientSecret": "95a753e9741a411abbe8F78BBc16E934",
                  "owner": "Organizacion Nueva",
                  "email": "org@gmail.com",
                  "owners": [
                    {
                      "id": "a62606ab-ad60-444e-a9d4-bea5415d6ff4",
                      "createdAt": "2017-11-16T15:41:14.349Z",
                      "updatedAt": "2017-11-16T18:02:38.977Z",
                      "organizationId": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                      "firstName": "Organizacion",
                      "lastName": "Nueva",
                      "email": "org@gmail.com",
                      "phoneNumber": "1112345678",
                      "idprovider_id": "mulesoft",
                      "username": "nueva",
                      "enabled": true,
                      "deleted": false,
                      "lastLogin": "2017-11-16T18:02:30.000Z",
                      "type": "host",
                      "organizationPreferences": {},
                      "organization": {
                        "name": "Nueva",
                        "id": "791be26c-6882-46f0-8c1d-5dc8d39a04be",
                        "createdAt": "2017-11-16T15:41:14.372Z",
                        "updatedAt": "2017-11-16T15:46:17.297Z",
                        "ownerId": "a62606ab-ad60-444e-a9d4-bea5415d6ff4",
                        "clientId": "58cd9b34d3bb45919b1176cacd963d35",
                        "domain": "nueva",
                        "idprovider_id": "mulesoft",
                        "isFederated": false,
                        "parentOrganizationIds": [],
                        "subOrganizationIds": [],
                        "tenantOrganizationIds": [],
                        "isMaster": true,
                        "subscription": {
                          "type": "Employee",
                          "expiration": null
                        },
                        "properties": {},
                        "entitlements": {
                          "vCoresSandbox": {
                            "assigned": 4,
                            "reassigned": 0
                          },
                          "objectStoreRequestUnits": {
                            "base": 0,
                            "addOn": 0
                          },
                          "hybridAutoDiscoverProperties": true,
                          "mqRequests": {
                            "base": 0,
                            "addOn": 0
                          },
                          "createSubOrgs": true,
                          "globalDeployment": false,
                          "apis": {
                            "enabled": true
                          },
                          "loadBalancer": {
                            "assigned": 0,
                            "reassigned": 0
                          },
                          "partnersSandbox": {
                            "assigned": 0
                          },
                          "crowd": {
                            "hideApiManagerDesigner": true,
                            "hideFormerApiPlatform": true,
                            "environments": true
                          },
                          "armAlerts": true,
                          "createEnvironments": true,
                          "hybrid": {
                            "enabled": true
                          },
                          "vCoresDesign": {
                            "assigned": 1,
                            "reassigned": 0
                          },
                          "cam": {
                            "enabled": false
                          },
                          "hybridInsight": true,
                          "vCoresProduction": {
                            "assigned": 3,
                            "reassigned": 0
                          },
                          "mqMessages": {
                            "base": 0,
                            "addOn": 0
                          },
                          "exchange2": {
                            "enabled": true
                          },
                          "staticIps": {
                            "assigned": 0,
                            "reassigned": 0
                          },
                          "mqAdvancedFeatures": {
                            "enabled": false
                          },
                          "kpiDashboard": {
                            "enabled": false
                          },
                          "vpcs": {
                            "assigned": 0,
                            "reassigned": 0
                          },
                          "objectStoreKeys": {
                            "base": 0,
                            "addOn": 0
                          },
                          "workerLoggingOverride": {
                            "enabled": false
                          },
                          "designCenter": {
                            "mozart": true,
                            "api": true,
                            "apiVisual": false
                          },
                          "gateways": {
                            "assigned": 1
                          },
                          "partnersProduction": {
                            "assigned": 0
                          },
                          "externalIdentity": true,
                          "pcf": false,
                          "autoscaling": false,
                          "messaging": {
                            "assigned": 0
                          }
                        }
                      },
                      "properties": {}
                    }
                  ]
                },
                "tierId": null,
                "tier": null,
                "requestedTierId": 18409,
                "requestedTier": {
                  "audit": {
                    "created": {
                      "date": "2017-11-16T18:18:49.335Z"
                    },
                    "updated": {}
                  },
                  "id": 18409,
                  "name": "free",
                  "description": null,
                  "limits": [
                    {
                      "visible": true,
                      "timePeriodInMilliseconds": 630720000000,
                      "maximumRequests": 20
                    }
                  ],
                  "status": "ACTIVE",
                  "autoApprove": false
                },
                "terms": null,
                "partyId": null,
                "partyName": null,
                "apiId": 62943,
                "api": {
                  "audit": {
                    "created": {},
                    "updated": {}
                  },
                  "id": 62943
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Deletes the contract.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "organizationId",
            "required": true,
            "in": "path",
            "type": "string",
            "pattern": "^[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}$"
          },
          {
            "name": "environmentId",
            "required": true,
            "in": "path",
            "type": "string"
          },
          {
            "name": "environmentApiId",
            "required": true,
            "in": "path",
            "type": "integer",
            "minimum": 1,
            "maximum": 2147483647
          },
[...]
